@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css or index.css */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}