@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}

/* default: normal scrolling */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
}

/* desktop only */
@media (min-width: 768px) {
  .scroll-container {
    scroll-snap-type: y mandatory;
  }
}
